


@keyframes avatar-intro {
    0% {
      transform: translateX(40%);
    }
  
    50% {
        transform: translateX(20%);
      }
    100% {
      transform: translateX(0);        
    }
  }

  @media only screen and (max-width: 320) {}

  @media only screen and (min-width: 415) and (max-aspect-ratio:2/3){

    --1-font-size: 120px;
    --2-font-size: 37px;

    --size-icon: 100px;
    --size-s_margin: 10px;
    --size-l_margin: 40px;

  }

  @media only screen and (min-width: 720) {}

  @media only screen and (min-width: 1024) {}