:root {
    --primary-bg-color: blue;
    --primary-border-colour: lightblue;
    --primary-font-color: green;
    --primary-headline-font: cache;
    --primary-font-size: 80px;


    --secondary-bg-color: pink;
    --secondary-border-color: red;
    --secondary-font-color: rgb(23, 24, 51);
    --secondary-headline-font: avenir;
    --secondary-font-size: 16px;

    font-family: var(--secondary-headline-font);
    font-size: var(--secondary-font-size);
    color: var(--secondary-font-color);
}

  


@font-face {
    font-family: 'cache';
    src:  url('./Cache-Regular.ttf') format('truetype');
  } 

@font-face {
    font-family: 'avenir';
    src: url('./AvenirLTStd-Roman.otf');
}





#id2:hover ~ #id1 {
    filter: blur(1000px);
    transition: filter 2s;
}


h1[data-gong]:hover::after {
    content: attr(data-gong);
    border: 50px solid maroon;
    background-color: rgb(104, 238, 111);
    margin-bottom: 43px;
    color: navy;
}

html,
body {
    height: 85%;
    margin: 0;
    
}    




                                        /* H E A D E R */
header {  
    /* This section calls the slideInFromLeft animation we defined above */
    animation: 1s ease-out 0s 1 slideInFromLeft;
    font-family: var(--primary-headline-font);
    background: rgba(121, 12, 12, 0.657);
    padding: 0px;
    }


header {
    display: flex;
    flex: 1 0 auto0;
    align-items: flex-start;
    /* min-width: 750px; */
    justify-content: space-around;
    background-color: rgba(0, 255, 115, 0.363);
}

header h1 {
    display: flex;
    flex: 1;
    
    font-size: var(--primary-font-size);
    background-color: rgba(238, 130, 238, 0.473);
}

                                        /* H E R O */

#hero {
    display: flex;
    flex-flow: column;
    height: 100%;
    /* background-image: url("../images/stars.jpg"); */
    background-size: cover;
    background-position: center center;
    background-color: crimson;
}


#hero * {
    border: 1px solid rgba(137, 43, 226, 0.164);
    justify-content: flex-start;
    align-items: center;
}

                                        /* MAIN */

main {
 display: flex;
 flex: 1 1 auto;
    background-color: rgba(32, 178, 171, 0.178);
    justify-content: space-around;
}

main section {
    display: flex;
    flex: 10 0 auto;
    flex-wrap: wrap;
    justify-content: space-around;

}

#id2 {
    background-color: rgba(240, 128, 128, 0.308);
}

#id1 {
  background-color: rgba(37, 190, 241, 0.384);
}


main section div {
    display: flex;
    justify-content: space-around;
    flex: 1 1 auto;
    backdrop-filter: blur(0px);
    background-color: rgba(128, 0, 0, 0.315);
    height: 240px;
    margin: 2px;
    min-width: 240px;
    max-width: 240px;
}


                                       /* FOOTER */

footer {
    display: flex;
    justify-content: center;
    flex: 1 1 40px;
} 
                                        /* NAV BAR */
footer nav {
    display: flex;
}

/* main {
    background-image: url("../images/toroid.png");
} */


@keyframes slideInFromLeft {
    0% {
      /* transform: translateX(-100%); */
      filter: blur(1000px);
    }
  
    50% {
        /* transform: translateX(-100%); */
        filter: blur(1000px);
      }
    100% {
      /* transform: translateX(0); */
        filter: blur(0px);
        
    }
  }