:root {
    --1-bg-color: blue;
    --1-border-colour: lightblue;
    --1-font-color: green;
    --1-headline-font: cache;
    --1-font-size: 200px;


    --2-bg-color: pink;
    --2-border-color: red;
    --2-font-color: #0f1031;
    --2-headline-font: avenir;
    --2-font-size: 40px;

    font-family: var(--2-headline-font);
    font-size: var(--2-font-size);
    color: var(--2-font-color);
}
  
@font-face {
    font-family: 'cache';
    src:  url('./Cache-Regular.ttf') format('truetype');
  } 

@font-face {
    font-family: 'avenir';
    src: url('./AvenirLTStd-Roman.otf');
}

html,
body {
    height: 100%;
    margin: 0;
    background-color: rgba(153, 205, 50, 0.404);
    background-image: url(../images/stars.jpg);
    background-size: cover;
}    

                                        /* WHOLE PAGE CONTAINER STYLE  */
#whole-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#whole-page > * {
    margin: 25px;
}
                                        /* HEADER  */
header {
    height: 10%;
    background-image: linear-gradient(#0f1031, #00000000);
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    position: absolute;
    width: 100px;
    top: 10%;

}
                                        /* MAIN  */
main {
    height: 30%;
    background-color: #9d9fa278;
    display: flex;
    justify-content: center;
    align-items: center;
}

main img {
    height: 900px;
}
                                        /* FOOTER */
footer {
    position: relative;
    height: 15%;
    /* background-color: rgba(189, 13, 189, 0.452); */
    background-image: linear-gradient(#00000000, #243e90);
    display: flex;
    align-items: center;
}
footer #name-block {
    position: absolute;
    left: 2%;
    bottom: 70%;
    font-family: var(--1-headline-font);
    font-size: var(--1-font-size);
    /* background-color: rgba(39, 82, 61, 0.719); */
}

footer img {
    width: 85%;
}

footer ul {
    display: flex;
    width: 100%;
    list-style: none;
    justify-content: space-around;
}

footer ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15%;
    flex: 1 15%;
    background-color: rgba(60, 82, 16, 0.445);
    max-height: 90px;
    border: 10px solid yellow;
}

.list-container {
    font-size: var(--2-font-size);
    text-align: center;
    padding: 5%;
    border: 3px solid rgb(0, 238, 255);
    width: 100%;
}

/* .list-container img {
    width: 85%;
} */


@keyframes  {
    0% {
      /* transform: translateX(-100%); */
      filter: blur(1000px);
    }
  
    50% {
        /* transform: translateX(-100%); */
        filter: blur(1000px);
      }
    100% {
      /* transform: translateX(0); */
        filter: blur(0px);
        
    }
  }