:root {

    /*Fonts*/
    --1-headline-font: cache;
    --1-font-size: 58px;
    --1-font-color: #fff;
    --2-body-font: avenir;
    --2-font-size: 16px;
    --2-font-color: #0f1031;

    /* Backgrounds and borders */
    --1-bg-color: #243e90;
    --1-border-colour: #000;
    --2-bg-color: #9d9fa249;
    --2-border-color: #ffffff91;

    --swf: calc(375/375); /* Screen Width Factor */
    --shf: calc(812/812); /* Screen Height Factor */

    --icon-size:  calc( ( var(--swf) * var(--shf) ) * 35px);
    --avatar-size:  calc( ( var(--swf) * var(--shf) ) * 115px);
    
    --size-s_margin: calc( ( var(--swf) * var(--shf) ) * 12px);
    --size-l_margin: calc( ( var(--swf) * var(--shf) ) * 38px);
    --shadow: 2px 2px 3px #0f1031;
}

/* * {
    background-color: rgba(255, 0, 200, 0.089);
} */
  
@font-face {
    font-family: 'cache';
    src:  url('./Cache-Regular.ttf') format('truetype');
  } 

@font-face {
    font-family: 'avenir';
    src: url('./AvenirLTStd-Roman.otf');
}

html,
body {
    scroll-behavior: smooth;
    margin: 0;
    -webkit-tap-highlight-color: transparent;

    font-family: var(--2-body-font);
    font-size: var(--2-font-size);
    color: var(--2-font-color);
}    

#whole-page {
    background-image: url(../images/bg-w.h-570.819.png);
    background-size: auto; 
    background-position: center;
    background-attachment: fixed;

}
#avatar-gif-img {
    object-fit: cover;
    height: var(--avatar-size);
    position: fixed;
    margin-left: 1.5vw;
    margin-bottom: calc( 1.5vh + ( var(--swf) * var(--shf) ) * 175px);
    bottom: 0;
    left: 2.5vw;
    z-index: 1;
    mix-blend-mode: color-dodge;
    /* animation: avatar-intro 16s ease-in-out 0s 1 normal none; */

}

@keyframes avatar-intro {
    0% {
        transform: translate(125vw, -125vh) scale(0.01)
     
    } 
    10% {
        transform: translate(45vw, -45vh) scale(6)
    
    }
    40% {
        transform: translate(45vw, -45vh) scale(22)
    
    }
    45% {
        transform: translate(45vw, -45vh) scale(26)
    
    }
    50% {
        transform: translate(5vw, -10vh) scale(0.01)
    }
    85% {
        transform: translate(5vw, -10vh) scale(0.01)
    }
    100% {
      transform: translate(0%, 0%) scale(1)
            
    }
}

                                        /* WHOLE PAGE CONTAINER STYLE  */

a {
    text-decoration: none;
    font-family: var(--2-body-font);
    color: var(--1-font-color);
    text-shadow: var(--shadow);

}

.half-height-break {
    height: 200px;
}

footer #nav-menu-block a:hover img {
    height: calc(1.5 * var(--icon-size));
    width: calc(1.5 * var(--icon-size)); 
    
} 

#my-work-article a:hover img {
    background-color: var(--2-bg-color);
    border: 0.5px solid var(--2-border-color);
    backdrop-filter: blur(2px);
} 

:target {
    font-size: calc(1.5 * var(--1-font-size));
    transition: 0.8s ease-in;
}

:target #graphic-design {
    font-size: 28px;
}

a:visited {
    color:var(--1-font-color);
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

                                        /* HEADER  */


@keyframes header-present {
    0% {
        opacity:0
    }
    50% {
        opacity:0
    } 
    100% {
        opacity: 1;
            
    }
}

header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(2 * var(--size-l_margin));
    display: flex;
    justify-content: center;
    align-items: center;
    /* animation: header-present 18s ease-in-out 0s 1 normal none; */
}

#header-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: calc(2.5 * var(--size-l_margin));
    background-image: linear-gradient( var(--2-font-color), #00000000);
    color: var(--1-font-color);
    padding-top: calc( 0.5 * var(--size-l_margin));
    z-index: 50;
}



                                        /* MAIN  */
main {
    position: relative;
    flex: 0 0 0;
    z-index: 2;
}

main section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: var(--1-font-color);
    font-size: var(--1-font-size);
    font-family: var(--1-headline-font);
    text-align: center;
}

#main-section-break {
    height: 110vh;
}

#about-me,
#my-work,
#html,
#css,
#js,
#react-js,
#jquery,
#graphic-design,
#contact-me {
    margin: 0 auto;
    display: block;
    width: 80%;
    line-height: 1;
    
}

#about-me div div,
#html div div,
#css div div,
#js div div,
#react-js div div,
#jquery div div,
#graphic-design div div,
#contact-me address {
    padding: var(--size-s_margin);
    background-color: #9d9fa26e;
    backdrop-filter: blur(4px);
    border-radius: var(--size-s_margin);
    font-family: var(--2-body-font);
    font-size: calc(1.2 * var(--2-font-size));
    color: var(--2-font-color);
    line-height: 1.4;
    margin-top: 3vh;

}

#my-work-article { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    font-size: var(--2-font-size);
    margin-top: 3vh;
}

#my-work-article div { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: var(--size-s_margin);
    height: 30vh;
    width: 20vh;
    margin: 2vh;
    
}

#my-work-article div a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
}

#my-work-article a img {
    height: 15vh;
    width: 15vh;
    padding: 0.5vh;
    border-radius: 10%;
}

#my-work-article div:first-child a img {
    height: 20vh;
    width: 20vh;
    
}

#contact-me address {
    width: fit-content;
    margin: 0 auto;
    text-align: left;
}

                                        /* FOOTER */

@keyframes footer-present {
    0% {
        transform: translate(0%, 100%) 
        
    } 
    60% {
        transform: translate(0%, 100%) 
        
    } 
    100% {
        transform: translate(0%, 0%)
            
    }
}


footer { 
    position: fixed;
    bottom: 0px;
    left: 0px;
    display: flex;
    align-items: flex-start;
    height: 200px;
    min-height: 200px;
    width: 100%;
    z-index: 10;
    /* animation: footer-present 10s ease-in-out 0s 1 normal none; */
   

}
#footer-section { 
    
    background-image: linear-gradient( #00000000,var(--1-bg-color),var(--1-bg-color));
    position: relative;
    margin: 0 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 10;
}

#name-plate-container {
    width: var(--avatar-size);
    margin:2.5vw;
}

footer #name-plate { 
    position: relative;
    background-color: var(--2-bg-color);
    font-family: var(--1-headline-font);
    font-size: var(--1-font-size);
    text-align: center;
    line-height: .8;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(2px);

    padding-top: calc( 0.6 * var(--size-s_margin));
    z-index: 10;
    border-radius: 3%;
}

footer #name-plate text { 
     font-family: avenir;
     color: #fff;
     font-size: var(--2-font-size);
     text-align: center;
     line-height: 1;
     
 }    

 #nav-menu-block { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    flex: 1 2 0;
    height: 100%;
    align-self: flex-end;
} 

.split-menu-blocks { 
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    min-width: 49%;
    height: 0;
    margin-bottom: 0;
}

#nav-menu-block a { 
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    width: 75px;
    margin-bottom: 22px;
}

footer #nav-menu-block text { 
    margin: 0 0 -1% 0;

}

footer #nav-menu-block img {
    height: var(--icon-size);
    width: var(--icon-size);
    transition: 0.3s ease-in-out;
   

}
text {
    margin: var(--size-s_margin);
}
#g-d-text {
    position: relative;
    color: rgba(158, 22, 22, 0);
    text-shadow: none;
}
#ghost-float-text {
    position: absolute;
    color: var(--1-font-color);
    text-shadow: var(--shadow);
}




                                        /* RESPONSIVE STYLING */

/*
@media (min-width: 450px) and (max-height: 450px) {
    #whole-page {
        background-image: url(../images/bg-w.h-819.570.png);
    }
}


@media (min-width: 550px) and (min-height: 570px) {
    #whole-page {
        background-image: url(../images/bg-w.h-784.1126.png);
    }

    :root {
      
        --1-font-size: 68px;
    
        --2-font-size: 22px;
    
    
        --swf: calc(550/400);
        --shf: calc(900/800);
        --icon-size: 6vh;
        --size-s_margin: 2vh;
        --size-l_margin: 5.5vh;
        --shadow: "2px 2px 2px #0f1031"
    
        font-family: var(--2-body-font);
        font-size: var(--2-font-size);
        color: var(--2-font-color);
    }

    #avatar-gif-img {
        object-fit: cover;
        height: var(--avatar-size);
        position: fixed;
        margin-bottom: calc(22vh * var(--shf) + (1.5 * var(--size-s_margin)));
        bottom: 0;
        left:  calc( var(--swf) * (5%) + (4px));
        z-index: 1;
        mix-blend-mode: color-dodge;
        /* animation: avatar-intro 16s ease-in-out 0s 1 normal none; 
    
    }

}
*/
/* 
@media (min-width: 780px) and (max-height: 770px) {
    #whole-page {
        background-image: url(../images/bg-w.h-1126.784.png);
    }
}

@media (min-width: 1000px) and (max-height: 1500px) and (min-height: 700px) {
    #whole-page {
        background-image: url(../images/bg-w.h-1425.2048.png);
    }
    :root {
      
        --1-font-size: 108px;
    
        --2-font-size: 36px;
    
    
        --swf: calc(800/400);
        --shf: calc(1000/800);
        --icon-size: 6vh;
        --size-s_margin: 2vh;
        --size-l_margin: 5.5vh;
        --shadow: "2px 2px 2px #0f1031"
    
        font-family: var(--2-body-font);
        font-size: var(--2-font-size);
        color: var(--2-font-color);
    }

    #avatar-gif-img {
        object-fit: cover;
        width: calc(2*var(--icon-size));
        height: calc(2*var(--icon-size));
        position: fixed;
        margin-bottom: calc(22vh * var(--shf) + (1.5 * var(--size-s_margin)));
        bottom: 0;
        left:  calc( var(--swf) * (5%) + (4px));
        z-index: 1;
        mix-blend-mode: color-dodge;
        /* animation: avatar-intro 16s ease-in-out 0s 1 normal none; 
    
    }


        .nav-menu-items {
            margin: 0 3vw 0 3vw;
        }
        #upper-nav-menu-block,
        #lower-nav-menu-block {
            max-width: none;
        }
}

@media (min-width: 1400px) and (max-height: 2000px) {
    #whole-page {
        background-image: url(../images/bg-w.h-2048.1425.png);
    }
    :root {
      
        --1-font-size: 78px;
    
        --2-font-size: 24px;
    
    
        --swf: calc(500/400);
        --shf: calc(900/800);
        --icon-size: 7vh;
        --size-s_margin: 2vh;
        --size-l_margin: 4.5vh;
        --shadow: "2px 2px 2px #0f1031"
    
        font-family: var(--2-body-font);
        font-size: var(--2-font-size);
        color: var(--2-font-color);
    }

    #avatar-gif-img {
        object-fit: cover;
        width: calc(2*var(--icon-size));
        height: calc(2*var(--icon-size));
        position: fixed;
        margin-bottom: calc(22vh * var(--shf) + (1.5 * var(--size-s_margin)));
        bottom: 0;
        left:  calc( var(--swf) * (5%) + (4px));
        z-index: 1;
        mix-blend-mode: color-dodge;
        /* animation: avatar-intro 16s ease-in-out 0s 1 normal none; 
    
    }

    #footer-section { 
    
        background-image: linear-gradient( #00000000,var(--1-bg-color));
    }
    #nav-menu-block { 
        align-self: flex-start;
    }

    .nav-menu-items {
        margin: 0 3vw 0 3vw;
    }

    #upper-nav-menu-block,
    #lower-nav-menu-block {
        max-width: 40vw;
    }

}

@media (min-width: 2000px) {
    #whole-page {
        background-image: url(../images/bg-w.h-4096.2849.png);
    }
    
}
 */
